TELEGRAM_BOT_TOKEN=7874908790:AAFmJYLsAT_FIdK_G4TFfMLIyOb7xD_HyCI
OPENAI_API_KEY=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
